{{> header }}

<form method="POST" action="/notes/save">
    <input type="hidden" name="docreate" value="{{#if docreate}}create{{else}}update{{/if}}">

    <p>Key:
        {{#if docreate}}
            <input type="text" name="notekey" value=""/>
        {{else}}
            {{notekey}}
            <input type="hidden" name="notekey" value="{{notekey}}"/>
        {{/if}}
    </p>

    <p>
        Title: <input type="text" name="title" value="{{#if note}}{{note.title}}{{/if}}"/>
    </p>

    <br/>
    <textarea rows="5" cols="40" name="body">{{#if note}}{{note.body}}{{/if}}</textarea>
    <br/>

    <input type="submit" value="Submit" />
</form>

{{> footer }}
